@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #221f1f;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #f5f5f1;
  align-items: center;
}

.logo {
  margin-left: 10%;
}

.logo > span {
  color: #bb1024;
}

.input {
  margin-left: 11%;
  margin-right: 10%;
  height: 50%;
  border: 0.1px solid black;
  background-color: transparent;
  width: 30%;
  border-radius: 8px;
}

.input::placeholder {
  color: gray;
  padding-left: 10px;
  opacity: 0.4;
}

.wave1 {
  position: absolute;
  top: 0;
  z-index: -2;
  transform: rotate(180deg);
}

.wave2 {
  position: absolute;
  top: 3%;
  z-index: -3;
  transform: rotate(180deg);
}

.wave3 {
  position: absolute;
  top: 5%;
  z-index: -4;
  transform: rotate(180deg);
}

.main {
  width: 100%;
}

.movies_container {
  margin-top: 20%;
  display: grid;
  width: 80%;
  margin-inline: auto;

  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.movie_title {
  padding: 10px 0;
  font-size: 21px;
  color: white;
  font-weight: 700;
  font-family: sans-serif;
}

.movie_category {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffd80e;
}

.movie_average--green {
  position: absolute;
  z-index: 2;
  left: 25px;
  top: 25px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: sans-serif;
}

.movie_average--green::before {
  content: "";
  z-index: -1;
  left: -13.2px;
  top: -9.5px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid green;
  width: 35px;
  height: 35px;
  background-color: #221f1f;
}

.movie_card {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;

  overflow: hidden;
}

.card_img {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 85%;
}

.movie_card:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 85%;

  z-index: 2;
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .movies_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .wave {
    top: 20px;
  }
}

@media (max-width: 1200px) {
  .wave1 {
    position: absolute;
    top: 3%;
    z-index: -2;
    transform: rotate(180deg);
  }

  .wave2 {
    position: absolute;
    top: 6%;
    z-index: -3;
    transform: rotate(180deg);
  }

  .wave3 {
    position: absolute;
    top: 8%;
    z-index: -4;
    transform: rotate(180deg);
  }
}

@media (max-width: 800px) {
  .movies_container {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 200px;
  }

  .wave {
    top: 40px;
    width: 105%;
  }

  .movie-card {
    margin-top: 10px;
  }

  .wave1 {
    position: absolute;
    top: 3%;
    z-index: -2;
    transform: rotate(180deg);
  }

  .wave2 {
    position: absolute;
    top: 4%;
    z-index: -3;
    transform: rotate(180deg);
  }

  .wave3 {
    position: absolute;
    top: 5%;
    z-index: -4;
    transform: rotate(180deg);
  }
}

@media (max-width: 600px) {
  .movies_container {
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 200px;
  }

  .input {
    width: 30%;
  }

    .wave1 {
    position: absolute;
    top: 5%;
    z-index: -2;
    transform: rotate(180deg);
  }

  .wave2 {
    position: absolute;
    top: 6%;
    z-index: -3;
    transform: rotate(180deg);
  }

  .wave3 {
    position: absolute;
    top: 7%;
    z-index: -4;
    transform: rotate(180deg);
  }
}

@media (max-width: 400px) {
  .movies_container {
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 200px;
  }

  .input {
    width: 30%;
  }

    .wave1 {
    position: absolute;
    top: 6%;
    z-index: -2;
    transform: rotate(180deg);
  }

  .wave2 {
    position: absolute;
    top: 7%;
    z-index: -3;
    transform: rotate(180deg);
  }

  .wave3 {
    position: absolute;
    top: 8%;
    z-index: -4;
    transform: rotate(180deg);
  }
}


